@font-face {
  src: url('../assets/fonts/LeagueSpartan-Light.ttf') format('truetype');
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url('../assets/fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url('../assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
}

